* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 97%;
  }
}

@font-face {
  font-family: 'Roboto Regular';
  src: url("./../fonts/Roboto-Regular.eot");
  src: url("./../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto-Regular.woff") format("woff"), url("./../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url("./../fonts/Roboto-Medium.eot");
  src: url("./../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto-Medium.woff") format("woff"), url("./../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("./../fonts/Roboto-Bold.eot");
  src: url("./../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto-Bold.woff") format("woff"), url("./../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Regular';
  src: url("./../fonts/PTSans-Regular.eot");
  src: url("./../fonts/PTSans-Regular.eot") format("embedded-opentype"), url("./../fonts/PTSans-Regular.woff") format("woff"), url("./../fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("./../fonts/OpenSans-Regular.eot");
  src: url("./../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/OpenSans-Regular.woff") format("woff"), url("./../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Regular';
  src: url("./../fonts/GothamPro.eot");
  src: url("./../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("./../fonts/GothamPro.woff") format("woff"), url("./../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

img {
  max-width: 100%;
}

.fa {
  color: #006fd2;
}

.button {
  font-family: "PT Sans Regular";
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  background-color: #c20009;
}

.button:hover {
  cursor: pointer;
}

.header {
  font-family: 'Roboto Regular', sans-serif;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Roboto Medium', sans-serif;
}

.header__text {
  text-decoration: none;
  color: #006fd2;
  font-size: 16px;
}

.header__email {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}

.header__button {
  padding: 18px 30px;
}
/*# sourceMappingURL=styles.css.map */